.grid{
  margin: 0 auto;
  width: 860px;
}
.row{
  font-size: 0;
  min-height: 50px;
}
.column{
  background-color: rgba(0,0,0,0.4);
  display: inline-block;
  font-size: 16px;
  margin: 5px 10px;
  text-align: center;
  vertical-align: top;
}
.column:first-child { margin-left: 0; }
.column:last-child  { margin-right: 0; }
.one-up  { width: 200px; }
.two-up  { width: 420px; }
.four-up { width: 860px; }

/* two column viewport */
@media all and (max-width: 870px) {
  .grid{ width: 420px; }
  .two-up, .four-up{
    margin: 5px 0;
    width: 100%;
  }
  .one-up:nth-child(2) { margin-right: 0; }
  .one-up:nth-child(3) { margin-left: 0; }
  .one-up:nth-child(4) { margin-right: 0; }
  .one-up + .two-up + .one-up{ /* 1 - 2 - (1) */
    width: 100%;
  }
  .one-two-one-ack{ /* (1) - 2 - (1) (sorry, class must be manually added) */
    width: 100%;
  }
  .two-up + .one-up{ /* 2 - (1) - 1 */
    margin-left: 0;
    margin-right: 10px;
  }
  .two-up + .one-up + .one-up{ /* 2 - 1 - (1) */
    margin-left: 10px;
    margin-right: 0;
  }
}

/* one column viewport */
@media all and (max-width: 421px) {
  .grid{ width: 100%; }
  .one-up, .two-up, .four-up{
    width: 100%;
    margin: 5px 0 !important;
  }
}